.listGroupItem {
  border: 1px solid var(--sds-border) !important;
  border-radius: 0 !important;
  padding: 0.5rem 1rem !important;
  margin-bottom: 0 !important;
}

.listGroupItem:first-child {
  border-top-left-radius: 0.25rem  !important;
  border-top-right-radius: 0.25rem  !important;
}

.listGroupItem:last-child {
  border-bottom-left-radius: 0.25rem  !important;
  border-bottom-right-radius: 0.25rem  !important;
}

.listGroupItem  + .listGroupItem  {
  border-top-width: 0  !important;
}