<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExportArenden" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4843/TekisArende/ArendeExportWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExportArenden"
                contract="ArendeExportWS.IExportArenden" name="BasicHttpBinding_IExportArenden" />
        </client>
    </system.serviceModel>
</configuration>