@page
@model LoginModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Logga in";
}

<h1>@ViewData["Title"]</h1>

<partial name="_LocalLogin" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
