@page
@model LoginModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Logga in";
}

<h1>@ViewData["Title"]</h1>
@if ((Model.ExternalLogins?.Count ?? 0) > 0)
{
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <h6>Klicka på logga in för att fortsätta.</h6>
                    <hr />
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Logga in">Logga in</button>
                            }
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
}
@if (configuration.GetValue<bool>("EnableLocalAccounts"))
{
    <p>
        <a asp-page="./LocalLogin" asp-route-returnUrl="@Model.ReturnUrl">Logga in med lokalt konto</a>
    </p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
