@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: ("brand": #3eb1c8 );

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// @import "../node_modules/bootstrap/scss/bootstrap";

// html, body, #root {
//   //  height: 100%;
// }

// body, #root {
//   //  display: flex;
//   //  flex-direction: column;
//    background-color: white;
// }

 #layout {
  width: 100%;
  min-height: 100%;
  background-color: white !important;
}

#layout1 {
  width: 100%;
  height: 100%;
  background-color: white !important;

}

.dt-button-active {
  background-color: var(--sds-primary) !important;
  color: white !important;
}