// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-float infinite 3s ease-in-out;
//   }
// }

// .App-header {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
// }

// .App-link {
//   color: rgb(112, 76, 182);
// }

// @keyframes App-logo-float {
//   0% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(10px)
//   }
//   100% {
//     transform: translateY(0px)
//   }
// }

// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_variables";

// $custom-theme-colors: ("brand": #3eb1c8 );

// $theme-colors: map-merge($custom-theme-colors, $theme-colors);

// @import "../node_modules/bootstrap/scss/bootstrap";

// html, body, #root {
//     height: 100%;
// }

// body, #root {
//     display: flex;
//     flex-direction: column;
// }


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: ("brand": #3eb1c8 );

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// @import "../node_modules/bootstrap/scss/bootstrap";

// html, body, #root {
//   //  height: 100%;
// }

// body, #root {
//   //  display: flex;
//   //  flex-direction: column;
//    background-color: white;
// }

 #layout {
  //  display: flex;
  //  flex-direction: column;
   height: inherit;
   background-color: white !important;
}